# Игнорировать всё по умолчанию
*

# Разрешить исходники и заголовки
!src/
!includes/
!.gitignore

# Внутри папок тоже разрешить всё
!src/**
!includes/**

# Игнорируем мусор Visual Studio
.vs/
*.vcxproj
*.vcxproj.filters
*.sln

# Игнорируем сборку
x64/
*.obj
*.exe
*.ilk
*.pdb
*.tlog
*.idb
*.ipch
