# Игнорировать всё по умолчанию
*

# Не игнорировать исходные файлы и папки:
!src/
!includes/
!.gitignore

# Не игнорировать исходные файлы в папках
!src/**
!includes/**

# Не игнорировать файлы конфигурации SonarCloud
!.github/
!.github/**
!sonar-project.properties
!sonarcloud.yml
