name: SonarCloud

on:
  push:
    branches:
      - main
  pull_request:
    types: [opened, synchronize, reopened]

jobs:
  build:
    name: Build and analyze
    runs-on: windows-latest

    steps:
      - uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5
        with:
          fetch-depth: 0

      - name: Set up MSBuild
        uses: microsoft/setup-msbuild@6fb02220983dee41ce7ae257b6f4d8f9bf5ed4ce

      - name: Set up JDK
        uses: actions/setup-java@c5195efecf7bdfc987ee8bae7a71cb8b11521c00
        with:
          distribution: 'zulu'
          java-version: '17'

      - name: Cache SonarCloud packages
        uses: actions/cache@0057852bfaa89a56745cba8c7296529d2fc39830
        with:
          path: ~/.sonar/cache
          key: ${{ runner.os }}-sonar
          restore-keys: ${{ runner.os }}-sonar

      - name: Download and setup SonarScanner
        run: |
          $sonarScannerVersion = "5.0.1.3006"
          $sonarScannerZip = "sonar-scanner-cli-$sonarScannerVersion-windows.zip"
          $sonarScannerUrl = "https://binaries.sonarsource.com/Distribution/sonar-scanner-cli/$sonarScannerZip"
          Invoke-WebRequest -Uri $sonarScannerUrl -OutFile $sonarScannerZip
          Expand-Archive -Path $sonarScannerZip -DestinationPath .
          $sonarScannerPath = (Resolve-Path "sonar-scanner-$sonarScannerVersion-windows").Path
          echo "$sonarScannerPath\bin" | Out-File -FilePath $env:GITHUB_PATH -Encoding utf8 -Append

      - name: Build with MSBuild
        working-directory: 8lab
        run: msbuild 8lab.sln /t:Rebuild /p:Configuration=Release /p:Platform=x64 /p:RunCodeAnalysis=true /p:CodeAnalysisRuleSet="MinimumRecommendedRules.ruleset"

      - name: SonarCloud Scan
        working-directory: 8lab
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          sonar-scanner.bat `
            -Dsonar.projectKey=ownage69_labsBSUIR3rdTerm `
            -Dsonar.organization=ownage69 `
            -Dproject.settings=sonar-project.properties
